<form method="post" action="/entries">

  <label for="user">User:</label>
	<input type="text" name="entry[user]" placeholder="Enter user name">

	<label for="photo_url">Photo URL:</label>
	<input type="text" name="entry[photo_url]" placeholder="Enter photo URL">

	<label for="comment">Comment:</label>
	<input type="text" name="entry[comment]" placeholder="Enter comment">

	<button  type="submit">Submit Entry</button>

</form>
